<div class="container-fluid">
    <div class="row center">
        <div class="col-xs-12">
            <h1 style="margin-bottom: 15px;">Looking for a web developer?</h1>
            <h3>I'm your man!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="hire" class="well center" style="height: 200px;">
                <h2>Have an opening in your company?</h2>
                <p>
                    I am currently looking for a web developer position. If you think
                    I would be a good fit, I'd love to hear from you.
                </p>
                <span>Last Updated: 7/21/15</span>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="well center" style="height: 200px;">
                <h2>Need a website built?</h2>
                <p>
                    I can help you create an amazing website that fits you or your company.
                </p>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="well center" style="height: 200px;">
                <h2>Have a website but need it updated?</h2>
                <p>
                    I can help you make all the awesome changes you need for your website.
                </p>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="well center">
                <h2>Let's Chat</h2>
                <p>
                    Shoot me an email and we can start discussing your site.
                </p>
                <div class="circle-button">
                    <div class="email">
                        <a href="mailto:dotolo.dylan2@gmail.com?Subject=LetsChat" target="_top"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
                <h3>Email</h3>
                <span>dotolo.dylan2@gmail.com</span>
            </div>
        </div>
    </div>
</div>
