<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 center">
            <h1>Hobbies</h1>
            <span>I sometimes dabble in other activites besides code and design..</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3 class="center">Like.. Fitness</h3>
            <img src="img/weights.jpg" class="img-responsive row-img">
        </div>
        <div class="col-xs-12 col-md-6">
            <h3 class="center">Like.. Video Games</h3>
            <img src="img/xbox.jpg" class="img-responsive row-img">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h3 class="center">Like.. Traveling</h3>
            <img src="img/diving.jpg" class="img-responsive row-img">
        </div>
        <div class="col-xs-12 col-md-6">
            <h3 class="center">Like.. Vising the Lake</h3>
            <img src="img/lake.jpg" class="img-responsive row-img">
        </div>
    </div>
</div>
