<!-- partial-home.html -->
<div class="container-fluid">
    <!-- REMOVE WHEN SITE IS FINISHED -->
    <div class="well center warning">
            <div class="row">
                <div class="col-xs-12">
                    <span>This site is currently undergoing some contruction. So
                        some things may be broke or look odd.</span>
                </div>
                <div class="col-xs-12">
                    <span>Last updated: 07/21/2015</span>
                </div>
            </div>
    </div>
    <!-- END -->
    <!-- Intro card -->
    <div class="well center">
            <div class="row">
                <div class="col-xs-12">
                    <img src="img/profile-pic.jpg" class="img-circle" width="250px" height="250px">
                    <h1>Hi, My name is Dylan Dotolo</h1>
                    <h3>I am a Web Developer & Designer</h3>
                </div>
            </div>
    </div>
    <!-- SKILLS CARD -->
    <div class="well">
            <div class="row">
                <div class="col-xs-12 percent">
                    <h1 class="center">Skills</h1>
                    <span class="center">(Always learning & improving)</span>
                    <h3>Web Development</h3>
                    <div class="progress">
                    <div class="progress-bar progress-bar-info" style="width: 80%"></div>
                    </div>
                    <span class="right">80%</span>
                    <h3>Web Design</h3>
                    <div class="progress">
                    <div class="progress-bar progress-bar-info" style="width: 75%"></div>
                    </div>
                    <span class="right">75%</span>
                    <h3>Android Dev</h3>
                    <div class="progress">
                    <div class="progress-bar progress-bar-info" style="width: 60%"></div>
                    </div>
                    <span class="right">60%</span>
                    <h3>Life!!!</h3>
                    <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 99%"></div>
                    </div>
                    <span class="right">99%</span>
                </div>
            </div>
    </div>
    <!-- MY WORK SECTION -->
    <div class="well center">
        <div class="row">
            <div class="col-xs-12 card-title">
                <h1>Some of my work</h1>
            </div>
        </div>
        <div class="row">
            <!-- PERSONAL TRAINER TEMPLATE -->
            <a ui-sref="personal-trainer">
                <div class="col-md-6 project-img">
                    <h3 class="mobile-title">Personal Trainer</h3>
                    <img src="img/project-img/personal-trainer1.png" class="img-responsive row-img">
                    <div class="fade-title">
                        <h2>Personal Trainer</h2>
                    </div>
                </div>
            </a>
            <!-- WEDDING TEMPLATE -->
            <a ui-sref="wedding">
                <div class="col-md-6 project-img">
                    <h3 class="mobile-title">Wedding Template</h3>
                    <img src="img/project-img/wedding-wide.png" class="img-responsive row-img">
                    <div class="fade-title">
                        <h2>Wedding Template</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="row">
        <!-- PHOTOGRAPHY TEMPLATE -->
            <a ui-sref="photography">
                <div class="col-md-6 project-img">
                    <h3 class="mobile-title">Photography Co.</h3>
                    <img src="img/project-img/photography1.png" class="img-responsive row-img">
                    <div class="fade-title">
                        <h2>Photography Co.</h2>
                    </div>
                </div>
            </a>
            <!-- GALLERIA ON 3RD -->
            <a href="http://www.galleriaonthird.com/" target="_blank">
                <div class="col-md-6 project-img">
                    <h3 class="mobile-title">Galleria on 3rd</h3>
                    <img src="img/galleria.jpg" class="img-responsive row-img">
                    <div class="fade-title">
                        <h2>Galleria on 3rd</h2>
                    </div>
                </div>
            </a>
        </div>
        <a ui-sref="work" class="btn github  btn-raised">More</a>
    </div>
    <!-- START OF THE ABOUT SECTION -->
    <div class="well center">
        <div class="row">
            <div class="col-xs-12 card-title">
                <h1>About Me</h1>
            </div>
            <div class="row">
                <a ui-sref="university">
                    <div class="col-xs-12 col-sm-4 project-img">
                        <h3 class="mobile-title">University</h3>
                        <img src="img/darkosulogo.jpg" class="img-responsive row-img" >
                        <div class="fade-title">
                            <h3>University</h3>
                        </div>
                    </div>
                </a>
                <a ui-sref="hobbies">
                    <div class="col-xs-12 col-sm-4 project-img">
                        <h3 class="mobile-title">Hobbies</h3>
                        <img src="img/diving.jpg" class="img-responsive row-img" >
                        <div class="fade-title">
                            <h3>Hobbies</h3>
                        </div>
                    </div>
                </a>
                <a href="https://docs.google.com/document/d/1DCBpl-02wtW8AE8gloBYHK3eGF_fESUsKGNuyOXxJHM/edit?usp=sharing" target="_blank">
                    <div class="col-xs-12 col-sm-4 project-img">
                        <h3 class="mobile-title">Resume</h3>
                        <img src="img/resume-img.png" class="img-responsive row-img" >
                        <div class="fade-title">
                            <h3>Resume</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- CONTACT SECTION -->
    <div class="well center">
        <div class="row">
            <div class="col-xs-12 card-title">
                <h1>Contact Me</h1>
            </div>
            <div class="row">
                <div class="col-xs-12 center">
                    <div class="circle-button">
                        <div class="email">
                            <a href="mailto:dotolo.dylan2@gmail.com?Subject=LetsChat" target="_top"><i class="fa fa-envelope"></i></a>
                        </div>
                    </div>
                    <h3>Email</h3>
                    <span>dotolo.dylan2@gmail.com</span>
                    <div class=divider></div>
                </div>

                <div class="col-xs-12 center">
                    <div class="circle-button">
                        <div class="email">
                            <a href="skype:dylan.dotolo"><i class="fa fa-skype"></i></a>
                        </div>
                    </div>
                    <h3>Skype</h3>
                    <span>dylan.dotolo</span>
                </div>
            </div>
        </div>
    </div>
    <!-- GITHUB SECTION -->
    <div class="well center">
        <div class="row">
            <div class="col-xs-12 card-title">
                <h1>GitHub</h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>See the code to some of the projects</h3>
                    <a href="javascript:void(0)" class="btn github btn-raised">
                        <i class="fa fa-github fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
