<div class="container-fluid center">
    <div class="project-page-title center">
        <h1>Wedding Template</h1>
        <span>Check out the code on GitHub</span>
        <div class="git-circle-button center">
            <i class="fa fa-github fa-2x"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card-image center">
                        <img src="img/project-img/wedding1.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-image center">
                        <img src="img/project-img/wedding2.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-image center">
                        <img src="img/project-img/wedding3.png" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card-image center">
                        <img src="img/project-img/wedding4.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-image center">
                        <img src="img/project-img/wedding5.png" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-image center">
                        <img src="img/project-img/wedding6.png" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card-image center">
                <img src="img/project-img/wedding-wide.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>
