<div class="container-fluid center">
    <div class="row">
        <div class="col-sm-6 col-md-4">
                <div class="well center">
                    <img src="img/project-img/dotolo1.png" class="img-thumbnail">
                    <h2 class="project-title">This Site</h2>
                    <div class="skills">
                        <h3>Skills</h3>
                        <div class="divider"></div>
                        <span>HTML</span>
                        <span>SASS</span>
                        <span>AngularJs</span>
                        <span>Angular UI</span>
                        <span>Bootstrap</span>
                        <span>Bootstrap Material</span>
                    </div>
                </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="well center">
                <img src="img/galleria.jpg" class="img-thumbnail">
                <h2 class="project-title">Galleria on 3rd</h2>
                <h3>Skills</h3>
                <div class="divider"></div>
                <span>HTML</span>
                <span>CSS</span>
                <span>SquareSpace</span>
                <span>JQuery</span>
                <a href="http://www.galleriaonthird.com/" target="_blank" class="btn btn-info btn-raised">View</a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="well center">
                <img src="img/project-img/photography1.png" class="img-project">
                <h2 class="project-title">Photography Co. Template</h2>
                <h3>Skills</h3>
                <div class="divider"></div>
                <span>HTML</span>
                <span>CSS</span>
                <span>Sass</span>
                <span>Responsive Design</span>
                <span>Animation.css</span>
                <a ui-sref="photography" class="btn btn-info btn-raised">View</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="well center">
                <img src="img/mothers-day.jpg" class="img-project">
                <h2 class="project-title">Mother's Day Card</h2>
                <h3>Skills</h3>
                <div class="divider"></div>
                <span>HTML</span>
                <span>Sass</span>
                <span>Animation.css</span>
                <a href="http://45.55.217.6/" target="_blank" class="btn btn-info btn-raised">View</a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="well center">
                <img src="img/project-img/personal-trainer1.png" class="img-project">
                <h2 class="project-title">Personal Trainer</h2>
                <h3>Skills</h3>
                <div class="divider"></div>
                <span>HTML</span>
                <span>CSS</span>
                <span>Responsive Design</span>
                <a ui-sref="personal-trainer" class="btn btn-info btn-raised">View</a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="well center">
                <img src="img/project-img/wedding1.png" class="img-thumbnail">
                <h2 class="project-title">Wedding Template</h2>
                <h3>Skills</h3>
                <div class="divider"></div>
                <span>HTML</span>
                <span>CSS</span>
                <span>Sass</span>
                <span>Google Maps API</span>
                <span>Zurb Foundation</span>
                <a ui-sref="wedding" class="btn btn-info btn-raised">View</a>
            </div>
        </div>
    </div>
</div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-64041376-1', 'auto');
ga('send', 'pageview');

</script>
